@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

section#about-me {
  background: $grey-14;
  .about-me {
    padding-inline: 2rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  .about-me {
    padding-inline: 1rem;
  }
}
