<section id="about-me">
  <article>
    <h3>Sobre Mí</h3>
    <hr />
    <div class="about-me">
      <p>
        Desarrollador Web <mark>Full-Stack</mark> con más de 2 años de
        experiencia y amplios conocimientos en tecnologías web, tales como
        Angular, Java o Spring. Ingeniero Informático (especialidad en
        Computadores) por la E.T.S.I. de la Universidad de Huelva.
      </p>
      <p>
        Mi enfoque metodológico se basa en el uso de las mejores prácticas para
        entregar soluciones que aporten el mayor valor posible con las máximas
        garantías de escalabilidad, rendimiento y seguridad. Además, me
        considero una persona responsable, implicada y muy constante e intento
        siempre aportar mis ideas y mantener un aprendizaje continuo para crecer
        como profesional día a día.
      </p>
      <details>
        <summary>Ver más detalles sobre el proyecto</summary>
        <p>Este proyecto fue desarrollado usando Angular y Spring Boot...</p>
      </details>
      <p>
        La <abbr title="Organización Mundial de la Salud">OMS</abbr> tiene
        directrices importantes sobre la salud global.
      </p>
      <p>Para imprimir "Hola Mundo" en JavaScript, usa el siguiente código:</p>
      <pre><code>console.log("Hola Mundo");</code></pre>

      <p>Para guardar tu archivo, presiona <kbd>Ctrl</kbd> + <kbd>S</kbd>.</p>
      <p>Progreso de descarga:</p>
      <progress value="70" max="100">70%</progress>

      <p>Temperatura actual:</p>
      <meter value="25" min="0" max="100">25°C</meter>
      <select>
        <optgroup label="Frontend">
          <option value="html">HTML</option>
          <option value="css">CSS</option>
        </optgroup>
        <optgroup label="Backend">
          <option value="java">Java</option>
          <option value="python">Python</option>
        </optgroup>
      </select>
    </div>
  </article>
</section>
