<section id="about-me" class="box-container">
  <article class="box-content">
    <h3>Sobre Mí</h3>
    <hr />
    <div class="box-main-content about-me-container">
      <img src="assets/images/desktop.png" alt="A computer in a Desktop" />
      <div>
        <p>
          <strong>Desarrollador Web Full-Stack</strong> con más de
          <strong>2 años de experiencia</strong> y amplios conocimientos en
          tecnologías web, tales como <strong>Angular, Java o Spring</strong>.
          Ingeniero Informático (especialidad en Computadores) por la E.T.S.I.
          de la Universidad de Huelva.
        </p>
        <p>
          En mis proyectos siempre busco aplica las mejores prácticas para crear
          <strong>soluciones eficaces</strong>, garantizando un software
          <strong>escalable, robusto y de calidad</strong>.
        </p>

        <p>
          Soy una persona <strong>implicada, proactiva y abierta</strong>, y
          disfruto colaborando con equipos multidisciplinares, aportando ideas y
          creciendo profesionalmente.
        </p>
      </div>
    </div>
  </article>
</section>
