<section id="about-me">
  <h3>Sobre Mí</h3>
  <hr />
  <div class="about-me">
    <p>
      Desarrollador Web Full-Stack especializado en tecnologías como Angular,
      Java y Spring. También soy Ingeniero Informático (especialidad en
      Computadores) por la E.T.S.I. de la Universidad de Huelva.
    </p>
    <p>
      Me encanta aprender cosas nuevas, sobre todo relacionadas con nuevas
      tecnologías, y siempre con el objetivo de hacer el trabajo lo mejor
      posible. En lo personal me considero una persona responsable, implicada y
      muy constante.
    </p>
  </div>
</section>
