@import "./../../../../../app/assets/themes/themes.scss";

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  padding-right: 5rem;
}

.nav-bar-title {
  display: none;
}

.nav-bar-title a {
  font-size: larger;
}

.nav-bar-list {
  display: flex;
  padding: 0;
  height: 100%;
}

.nav-bar-li {
  display: flex;
  align-items: center;
  height: 100%;
}

ul {
  list-style: none;
  li:hover {
    background-color: $d-primary-dark-color;
    transition: 0.3s ease-in-out;
    a {
      margin-inline: 0.5rem;
    }
  }
}

a {
  color: $white;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.nav-drop-list {
  display: none;
}

@media (min-width: 1025px) {
  .menu-btn {
    display: none;
  }

  .menu-dropdown {
    display: none;
  }
}

@media (max-width: 1024px) {
  nav {
    justify-content: space-between;
    padding: 0 5rem;
  }
  .nav-bar-title {
    display: block;
  }

  .nav-bar-list {
    display: none;
  }

  .menu-dropdown {
    display: block;
    background-color: $d-primary-color;
  }

  .menu-dropdown ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu-dropdown ul li {
    //display: block;
    padding: 0.5rem;
    border-top: 0.15rem solid white;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 2rem;
  }
}
