@import "../../../../assets/themes/themes.scss";
@import "../../../../assets/themes/breakpoints.scss";

section#technologies {
  scroll-margin-top: 5rem;
  padding: 1.5rem 5rem;
  background: $grey-13;
  min-height: 30rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
  padding-inline: 2rem;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: $grey-12;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  section#technologies {
    display: flex;
    justify-content: center;
    article {
      max-width: $max-content-width;
      min-width: min(100%, $max-content-width);
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  section#technologies {
    padding: 1.5rem 2rem;
  }

  .grid {
    padding-inline: 1rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  section#technologies {
  }
}
