<section id="technologies">
  <article>
    <h3>Tecnologías</h3>
    <hr />
    <div class="grid">
      <div class="item"><p>Angular</p></div>
      <div class="item"><p>Java</p></div>
      <div class="item"><p>Spring Boot</p></div>
      <div class="item"><p>Hibernate</p></div>
      <div class="item"><p>RxJS</p></div>
      <div class="item"><p>TypeScript</p></div>
      <div class="item"><p>Docker</p></div>
      <div class="item"><p>AWS</p></div>
      <div class="item"><p>MySQL</p></div>
      <div class="item"><p>PostgreSQL</p></div>
    </div>
  </article>
</section>
