@import "../../../../assets/themes/themes.scss";
@import "../../../../assets/themes/breakpoints.scss";

section#experience {
  background: $d-primary-dark-color;
  opacity: 0.8;
  .experience {
    padding-left: 2rem;
  }
}

.description {
  padding-left: 2rem;
  p,
  strong {
    color: $white;
  }
}

@media (max-width: $mobile-breakpoint) {
  section#experience {
    .experience {
      padding-left: 1rem;
    }
  }

  .description {
    padding-left: 1rem;
  }
}
