@use "@assets/themes/themes.scss" as *;
@use "@assets/themes/breakpoints.scss" as *;

section#experience {
  background: rgba($black, 0.8);
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .timeline-card {
    background: $grey-12;
    padding: 1rem;
    border-radius: 0.5rem;
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-description {
      padding-left: 2rem;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
    }
  }
}

.tech-chips {
  .tech-chip {
    display: inline-block;
    padding: 0.3em 0.8em;
    margin: 0.25rem;
    color: $grey-01;
    background-color: $grey-11;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
  }
}
.expand-experience {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: $mobile-breakpoint) {
  .card-description {
    padding-left: 1rem;
  }
}
