@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

section#experience {
  background: rgba($grey-14, 0.7);
}

.description {
  padding-left: 2rem;
}

.tech-chip {
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0.25rem;
  color: $grey-01;
  background-color: $grey-11;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (max-width: $mobile-breakpoint) {
  .description {
    padding-left: 1rem;
  }
}
