@import "./../../../assets/themes/themes.scss";

.to-top-btn {
  position: fixed;
  z-index: 2;
  bottom: 3rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  background-color: $white;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

a {
  display: none;
}
