@import "./../../../assets/themes/themes.scss";

.to-top-btn {
  position: fixed;
  z-index: 5;
  bottom: 3rem;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  background-color: $white;
  border: none;
  border-radius: 50%;
}
