// Colores
//$d-primary-color: #1de9b6;
$d-primary-color: #2d9077;
$d-primary-light-color: #cfeacb;
$d-primary-dark-color: #085b48;

$d-secondary-color: #7b584b;
$d-secondary-light-color: #faebd7;
$d-secondary-dark-color: #725b53;
