

// Fuente

// Colores
$white: #ffffff;

$grey-01: #eeeeee;
$grey-02: #dddddd;
$grey-03: #cccccc;
$grey-04: #bbbbbb;
$grey-05: #aaaaaa;
$grey-06: #999999;
$grey-07: #888888;
$grey-08: #777777;
$grey-09: #666666;
$grey-10: #555555;
$grey-11: #444444;
$grey-12: #333333;
$grey-13: #222222;
$grey-14: #111111;

$black: #000000;
