<section
  id="education"
  class="box-container"
  appScrollSpy
  [sectionId]="'education'"
>
  <article class="box-content">
    <h3>Formación</h3>
    <hr />
    <div class="box-main-content education-container">
      <h4>Títulos Académicos</h4>
      <ul class="timeline">
        @for (title of titles; track $index) {
          <li class="timeline-card">
            <h4 class="card-header">{{ title.title }}</h4>
            <h5>{{ title.period }} | {{ title.institution }}</h5>
            @defer (on viewport) {
              <div class="card-description">
                <p>{{ title.description }}</p>
              </div>
            } @placeholder {
              <span></span>
            }
          </li>
        }
      </ul>

      <h4>Cursos y Certificaciones</h4>
      <ul class="timeline">
        @for (course of courses; track $index) {
          <li class="timeline-card">
            <h4 class="card-header">{{ course.title }}</h4>
            <h5>{{ course.period }} | {{ course.institution }}</h5>
            @defer (on viewport) {
              <div class="card-description">
                <p>{{ course.description }}</p>
              </div>
            } @placeholder {
              <span></span>
            }
          </li>
        }
      </ul>
      <h4>Idiomas</h4>
      <ul class="timeline">
        @for (language of languages; track $index) {
          <li class="timeline-card">
            <h4 class="card-header">{{ language.name }}</h4>
            <h5>Nivel: {{ language.level }}</h5>
            @defer (on viewport) {
              <div class="card-description">
                <p>{{ language.description }}</p>
              </div>
            } @placeholder {
              <span></span>
            }
          </li>
        }
      </ul>
    </div>
  </article>
</section>
