<section
  id="education"
  class="box-container"
  appScrollSpy
  [sectionId]="'education'"
>
  <article class="box-content">
    <h3>Formación</h3>
    <hr />
    <div class="box-main-content education-container">
      <h4>Títulos Académicos</h4>
      <ul>
        @for(title of titles; track $index) {
        <li class="timeline-item">
          <h4 class="timeline-item-title">{{ title.title }}</h4>
          <h5 class="timeline-item-period">
            {{ title.period }} | {{ title.institution }}
          </h5>
          @defer(on viewport) {
          <div class="description" [@fadeInLeft]>
            <p>{{ title.description }}</p>
          </div>
          } @placeholder {<span></span>}
        </li>
        }
      </ul>

      <h4>Cursos y Certificaciones</h4>
      <ul>
        @for(course of courses; track $index) {
        <li class="timeline-item">
          <h4 class="timeline-item-title">{{ course.title }}</h4>
          <h5 class="timeline-item-period">
            {{ course.period }} | {{ course.institution }}
          </h5>
          @defer(on viewport) {
          <div class="description" [@fadeInLeft]>
            <p>{{ course.description }}</p>
          </div>
          } @placeholder {<span></span>}
        </li>
        }
      </ul>
      <h4>Idiomas</h4>
      <ul>
        @for(language of languages; track $index) {
        <li class="timeline-item">
          <h4 class="timeline-item-title">{{ language.name }}</h4>
          <h5 class="timeline-item-level">Nivel: {{ language.level }}</h5>
          @defer(on viewport) {
          <div class="description" [@fadeInLeft]>
            <p>{{ language.description }}</p>
          </div>
          } @placeholder {<span></span>}
        </li>
        }
      </ul>
    </div>
  </article>
</section>
