@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

section#education {
  background: $grey-14;
}

.description {
  padding-left: 2rem;
}

@media (max-width: $mobile-breakpoint) {
  .description {
    padding-left: 1rem;
  }
}
