@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

section#education {
  background: rgb(0 0 0 / 78%);
  backdrop-filter: blur(1rem);
  .education-container {
    display: flex;
    flex-direction: column;
  }
}

.description {
  padding-left: 2rem;
}

@media (max-width: $mobile-breakpoint) {
  .description {
    padding-left: 1rem;
  }
}
