@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

section#education {
  background: $grey-14;
  .education {
    padding-left: 2rem;
  }
}

.description {
  padding-left: 2rem;
}

@media (max-width: $mobile-breakpoint) {
  section#education {
    .education {
      padding-left: 1rem;
    }
  }

  .description {
    padding-left: 1rem;
  }
}
