<section id="home">
  <div class="box-container">
    <div class="box-content">
      <h1>
        José Manuel <br />
        Rodríguez Camacho
      </h1>
      <h2>Full-Stack Web Developer</h2>
      <p>¡Bienvenido a mi página web!</p>
      <div class="links">
        <!-- LINKEDIN -->
        <a
          href="https://www.linkedin.com/in/jose-manuel-r-c/"
          target="_blank"
          aria-label="LinkdeIn"
        >
          <app-svg-icon [svgName]="'linkedin-in'" />
        </a>
        <!-- GITHUB -->
        <a
          href="https://github.com/josemanuelrc"
          target="_blank"
          aria-label="Github"
        >
          <app-svg-icon [svgName]="'github'" />
        </a>
        <!-- MAIL -->
        <a href="#contact" aria-label="Contact">
          <app-svg-icon [svgName]="'mail'" />
        </a>
        <!-- PHONE -->
        <a
          href="https://github.com/josemanuelrc"
          target="_blank"
          aria-label="Phone"
        >
          <app-svg-icon [svgName]="'phone'" />
        </a>
      </div>
    </div>
    <!-- <div class="arrow-container">
      <div class="arrow-down"></div>
    </div> -->
  </div>
</section>
