<section id="home">
  <div class="header-container">
    <div class="header-title">
      <h1>José Manuel Rodríguez Camacho</h1>
      <h2>Full-Stack Web Developer</h2>
      <p>¡Bienvenido a mi página web!</p>
      <div class="links">
        <a href="https://www.linkedin.com/in/jose-manuel-r-c/" target="_blank">
          <i class="fa-brands fa-linkedin-in" name="LinkedIn"></i>
        </a>
        <a href="https://github.com/josemanuelrc" target="_blank">
          <i class="fa-brands fa-github" name="GitHub"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <div class="arrow-down"></div>
  </div>
</section>
