@import "./../../../../assets/themes/themes.scss";
@import "../../../../assets/themes/breakpoints.scss";

section#home {
  height: 100vh;
}

.title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title-content {
    text-align: center;
    padding-bottom: 5rem;
  }
}

p {
  font-style: italic;
  transition: font-size 0.2s ease-in-out;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
  a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: $black;
    background-color: $white;
    border-radius: 50%;
    border: none;
    transition: transform 0.2s ease-in-out;
    &:hover {
      background-color: $d-primary-color;
      transform: scale(1.1);
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  p {
    font-size: 0.75rem;
  }
}
