section#home {
  background-image: "./../../../../assets/images/floral.png";
}

.header-container {
  padding: 0rem 5rem;
  display: flex;
  gap: 2rem;
  img {
    height: 25rem;
    border-radius: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 0rem 2rem;
  }
}
