<section id="home" appScrollSpy [sectionId]="'home'">
  <div class="box-container title-container">
    <div class="box-content title-content">
      <h1>
        José Manuel <br />
        Rodríguez Camacho
      </h1>
      <h2>Full-Stack Web Developer</h2>
      <p>Intenta aprender algo sobre todo y todo sobre algo - Thomas Huxley</p>
      <div class="links">
        <!-- LINKEDIN -->
        <a
          href="https://www.linkedin.com/in/jose-manuel-r-c/"
          target="_blank"
          aria-label="LinkdeIn"
        >
          <app-svg-icon [svgName]="'linkedin-in'" />
        </a>
        <!-- GITHUB -->
        <a
          href="https://github.com/josemanuelrc"
          target="_blank"
          aria-label="Github"
        >
          <app-svg-icon [svgName]="'github'" />
        </a>
        <!-- MAIL -->
        <a href="#contact" aria-label="Contact">
          <app-svg-icon [svgName]="'mail'" />
        </a>
        <!-- PHONE -->
        <a href="tel:+34619832538" target="_blank" aria-label="Phone">
          <app-svg-icon [svgName]="'phone'" />
        </a>
      </div>
      <button class="btn" (click)="downloadFile()">Descargar CV</button>
    </div>
  </div>
</section>
