@font-face {
  font-family: "PoiretOne";
  font-display: swap;
  src: url("./PoiretOne.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("./OpenSans.ttf") format("truetype");
}
