@font-face {
  font-family: "PoiretOne";
  font-display: swap;
  src: url("./PoiretOne.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("./Lato-Light.ttf") format("truetype");
}
