@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-inline: 4rem;
  background-color: $black;
  //opacity: 0.9;
}

img {
  width: 4rem;
  height: 4rem;
}

.nav-bar-title {
  display: none;
  a {
    font-size: 1.5rem;
    color: $white;
  }
}

ul.nav-bar-list {
  display: flex;
  height: 100%;

  li {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.5s ease-in-out;

    :hover {
      transition: 0.5s ease-in-out;
      background-color: $white;
      font-weight: bold;
      color: $black;
    }

    a {
      display: flex;
      align-items: center;
      padding-inline: 0.5rem;
      height: 100%;
      color: $white;

      &:hover {
        transition: 0.6s ease-in-out;
        font-size: 1.4rem;
      }
    }
  }
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $laptop-breakpoint) {
  nav {
    padding: 0 5rem;
  }

  img {
    display: none;
  }

  .nav-bar-title {
    display: block;
  }

  ul.nav-bar-list {
    display: none;
  }

  .menu-btn {
    display: inline;
  }
}

@media (max-width: $tablet-breakpoint) {
  nav {
    padding: 0 2rem;
  }
}
