<nav #navBar class="box-container">
  <div class="box-content nav-bar">
    <!-- NAVIGATION BAR TITTLE -->
    <div class="nav-bar-title">
      <a href="#">Menú</a>
    </div>

    <img src="assets/images/logo.png" alt="José Manuel Logo" />

    <!-- NAVIGATION BAR LIST -->
    <ul class="nav-bar-list">
      @for (item of navItems; track item.href) {
      <li
        [class.active]="
          item.href === '#' + (this.scrollSpy.activeSection$ | async)
        "
      >
        <a [href]="item.href">
          <app-svg-icon [svgName]="item.icon" />
          {{ item.label }}
        </a>
      </li>
      }
    </ul>

    <!-- MENU BUTTON -->
    <button
      class="menu-btn"
      aria-label="Menu Button"
      (click)="toggleMenu($event)"
    >
      @if(isMenuOpen) {
      <app-svg-icon [svgName]="'close'" />
      } @else {
      <app-svg-icon [svgName]="'menu'" />
      }
    </button>
  </div>
</nav>
<!-- NAV DROP LIST -->
<div [@toggleMenu]="isMenuOpen ? 'open' : 'closed'">
  <app-nav-drop [(isMenuOpen)]="isMenuOpen"></app-nav-drop>
</div>
