@import "src/app/assets/themes/themes.scss";
@import "src/app/assets/themes/breakpoints.scss";

nav {
  position: relative;
  z-index: 6;
  padding-block: 0rem;
  background-color: $black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

img {
  width: 3.25rem;
  height: 3.25rem;
}

.nav-bar-title {
  display: none;
  a {
    font-size: 1.5rem;
    color: $white;
  }
}

ul.nav-bar-list {
  display: flex;
  height: 100%;

  li {
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    a {
      display: flex;
      align-items: center;
      padding-inline: 0.5rem;
      height: 100%;
      color: $white;
      transition: font-weight 0.2s ease-in-out;
    }

    &.active,
    &:hover {
      background-color: $white;
      color: $black;

      a {
        font-weight: bold;
        color: $black;
      }
    }
  }
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $laptop-breakpoint) {
  img {
    display: none;
  }

  .nav-bar-title {
    display: block;
  }

  ul.nav-bar-list {
    display: none;
  }

  .menu-btn {
    display: inline;
  }
}
