<footer>
  <div class="footer-container">
    <h2>Gracias por visitar mi web :)</h2>
    <h4>No dudes en ponerte en contacto conmigo. ¡Hasta pronto!</h4>
    <div class="footer-info-container">
      <div class="section contact-section">
        <h3>Contacto</h3>
        <div class="section-container">
          <a href="tel:+34619832538">
            <i class="fa-solid fa-phone"></i>
            +34 619 83 25 38
          </a>
          <a href="mailto:josemanuel0709@hotmail.es">
            <i class="fa-solid fa-envelope"></i>
            josemanuel0709@hotmail.es
          </a>
        </div>
      </div>
      <!-- <span class="separator"></span> -->
      <div class="section links-section">
        <h3>Enlaces de Interés</h3>
        <div class="section-container">
          <!-- LINKEDIN -->
          <a href="https://www.linkedin.com/in/jose-manuel-r-c/">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
          </a>
          <!-- GITHUB -->
          <a href="#"><i class="fa-brands fa-github"></i> GitHub</a>
        </div>
      </div>
      <!-- <span class="separator"></span> -->
      <div class="section acessibility-section">
        <!-- ACCESIBILITY -->
        <h3>Accesibilidad</h3>
        <div class="section-container">
          <!-- LANGUAGE SELECTOR -->
          <div class="space-between">
            <h4>Idioma</h4>
            <app-lang-selector></app-lang-selector>
          </div>

          <!-- THEME SLIDER -->
          <div class="space-between">
            <h4>Tema</h4>
            <app-theme-toggle-slider></app-theme-toggle-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer-container">
    <h5>
      © 1998 - 2023 | José Manuel Rodríguez Camacho - Web Developer | Todos los
      derechos reservados
    </h5>
  </div>
</footer>
