<!-- NAVIGATION DROPDOWN LIST -->
<nav class="nav-drop-list">
  <ul>
    <li>
      <a href="#">
        <app-svg-icon [svgName]="'home'" />
        Inicio
      </a>
    </li>
    <li>
      <a href="#about-me" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'info'" />
        Sobre mí
      </a>
    </li>
    <li>
      <a href="#experience" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'briefcase'" />
        Experiencia
      </a>
    </li>
    <li>
      <a href="#technologies" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'code'" />
        Tecnologías
      </a>
    </li>
    <li>
      <a href="#education" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'book'" />
        Formación
      </a>
    </li>
    <li>
      <a href="#curriculum" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'file'" />
        Currículum
      </a>
    </li>
    <li>
      <a href="#contact" (click)="toggleMenu()">
        <app-svg-icon [svgName]="'chat'" />
        Contacto
      </a>
    </li>
  </ul>
</nav>
