@import "../../../../assets/themes/themes.scss";
@import "../../../../assets/themes/breakpoints.scss";

section#curriculum {
  background: $grey-14;
}

.btn-container {
  display: flex;
  justify-content: center;
}

#link {
  display: none;
}
