<section id="curriculum" class="box-container">
  <article class="box-content">
    <h3>Currículum Vitae</h3>
    <hr />
    <div class="box-main-content">
      <p>
        ¿Te interesa saber más sobre mi? Descarga mi CV y explora mis
        habilidades, proyectos y logros profesionales ¡No dudes en contactarme!
      </p>
      <div class="btn-container">
        <button class="btn-download" (click)="downloadFile()">
          Descargar CV
        </button>
        <a
          #link
          id="link"
          href="assets/documents/curriculum.pdf"
          download="curriculum.pdf"
          name="Descargar Currículum"
        >
          Link -OCULTO-
        </a>
      </div>
    </div>
  </article>
</section>
