@import "../../../../assets/themes/themes.scss";
@import "../../../../assets/themes/breakpoints.scss";

section#contact {
  scroll-margin-top: 5rem;
  padding: 1.5rem 5rem;
  background: $grey-03;
  .contact {
    padding-inline: 2rem;
  }
}

h3 {
  color: $d-primary-dark-color;
}

@media (min-width: $desktop-breakpoint) {
  section#contact {
    display: grid;
    place-items: center;
    article {
      width: $max-content-width;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  section#contact {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  section#contact {
    .contact {
      padding-inline: 1rem;
    }
  }
}
