@import "normalize.css";
@import "./app/assets/themes/themes.scss";
@import "./app/assets/themes/breakpoints.scss";
@import "./assets/styles/responsive-boxes.scss";
@import "./assets/styles/timeline.scss";

html {
  scroll-behavior: smooth;
}

//body {
//}

h1,
h2,
h5 {
  font-family: "PoiretOne", sans-serif;
  color: $white;
  &::selection {
    background: $grey-06;
  }
}

h3,
h4 {
  font-family: "PoiretOne", sans-serif;
  color: $d-primary-color;
  &::selection {
    color: $white;
    background: $grey-06;
  }
}

h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0rem;
}

h2 {
  font-size: 3rem;
  margin: 1.5rem 0rem;
}

h3 {
  font-size: 1.75rem;
  margin: 1.5rem 0rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

h5 {
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

p,
b,
strong,
label,
input,
textarea,
span {
  color: $white;
  font-family: "Lato", sans-serif;
  &::selection {
    background: $grey-06;
  }
}

button {
  color: $white;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    background: $grey-06;
  }
  &:hover {
    cursor: pointer;
  }
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    color: $white;
    background: $grey-06;
  }
}

ul {
  list-style: none;
  padding: 0;
}
