@import "normalize.css";
@import "./app/assets/themes/themes.scss";
@import "./app/assets/themes/breakpoints.scss";

html {
  scroll-behavior: smooth;
}

//body {
//}

h1,
h2,
h5 {
  font-family: "PoiretOne", sans-serif;
  color: $white;
  &::selection {
    background: $grey-06;
  }
}

h3,
h4 {
  font-family: "PoiretOne", sans-serif;
  color: $d-primary-color;
  &::selection {
    color: $white;
    background: $grey-06;
  }
}

h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0rem;
}

h2 {
  font-size: 3rem;
  margin: 1.5rem 0rem;
}

h3 {
  font-size: 1.75rem;
  margin: 1.5rem 0rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

h5 {
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

p,
b,
strong,
label,
input,
textarea,
span {
  color: $white;
  font-family: "Lato", sans-serif;
  &::selection {
    background: $grey-06;
  }
}

button {
  color: $white;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    background: $grey-06;
  }
  &:hover {
    cursor: pointer;
  }
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    color: $white;
    background: $grey-06;
  }
}

ul {
  list-style: none;
  padding: 0;
}

// Responsive Boxes
.box-container {
  scroll-margin-top: 5rem;
  padding: 1.5rem 5rem;
}

@media (min-width: $desktop-breakpoint) {
  .box-container {
    display: flex;
    justify-content: center;
    .box-content {
      max-width: $max-content-width;
      min-width: min(100%, $max-content-width);
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .box-container {
    padding: 1.5rem 2rem;
  }
}
