@use "normalize.css" as *;
@use "./app/assets/themes/themes.scss" as *;
@use "./app/assets/themes/breakpoints.scss" as *;
@use "./assets/styles/responsive-boxes.scss" as *;
@use "./assets/styles/timeline.scss" as *;
@use "./assets/styles/btn.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
}

/* Estilos para títulos comunes */
h1,
h2,
h3,
h4,
h5 {
  font-family: "PoiretOne", sans-serif;
  transition: font-size 0.2s ease-in-out;
  &::selection {
    background: $grey-08;
  }
}

/* Color y selección específicos por encabezado */
h1 {
  color: $white;
}

h2,
h3,
h4 {
  color: $d-primary-color;
  &::selection {
    color: $white;
  }
}

h5 {
  color: $grey-01;
}

/* Tamaño y márgenes específicos por encabezado */
h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

h5 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

p,
b,
strong,
label,
input,
textarea,
span {
  color: $grey-01;
  font-family: "Lato", sans-serif;
  &::selection {
    background: $grey-08;
  }
}

button {
  color: $white;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    background: $grey-08;
  }
  &:hover {
    cursor: pointer;
  }
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "PoiretOne", sans-serif;
  &::selection {
    color: $white;
    background: $grey-08;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-bottom: 2.5rem;
}

img {
  &::selection {
    background: $grey-08;
  }
}
@media (max-width: $tablet-breakpoint) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
