// Responsive Boxes
.box-container {
  scroll-margin-top: 4rem;
  padding-block: 1.5rem 3.5rem;
  padding-inline: 5rem;
  transition: 0.1s ease-in-out;
  .box-content {
    .box-main-content {
      padding-inline: 2rem;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .box-container {
    display: flex;
    justify-content: center;
    .box-content {
      max-width: $max-content-width;
      min-width: min(100%, $max-content-width);
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .box-container {
    padding-inline: 2rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  .box-container {
    padding-inline: 1.25rem;
    .box-content {
      .box-main-content {
        padding-inline: 1rem;
      }
    }
  }
}

@media (max-width: $mobile-sm-breakpoint) {
  .box-container {
    padding-inline: 1rem;
    .box-content {
      .box-main-content {
        padding-inline: 0.25rem;
      }
    }
  }
}
