@import "src/app/assets/themes/themes.scss";

footer {
  background-color: $grey-14;
}

.footer-info-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

ul {
  li {
    p,
    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 0rem;
      font-size: 1rem;
      color: $white;
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

h3 {
  margin: 1rem 0rem;
  color: $white;
}

h4 {
  margin: 0;
  color: $white;
}

a {
  display: block;
  color: $white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-info-container {
    grid-template-columns: auto auto;
    transition: grid-template-columns 2s ease-in-out;
  }
}

@media (max-width: 425px) {
  .footer-info-container {
    grid-template-columns: auto;
    transition: grid-template-columns 2s ease-in-out;
  }
}
