<footer class="box-container">
  <div class="box-content">
    <h3>Gracias por visitar mi web!</h3>
    <p>No dudes en ponerte en contacto conmigo. ¡Hasta pronto!</p>
    <div class="footer-info-container">
      <div>
        <!-- CONTACT -->
        <h4>Contacto</h4>
        <ul>
          <!-- PHONE -->
          <li>
            <a href="tel:+34619832538">
              <app-svg-icon [svgName]="'phone'" />
              +34 619 83 25 38
            </a>
          </li>

          <!-- MAIL -->
          <li>
            <a href="mailto:josemanuel0709@hotmail.es">
              <app-svg-icon [svgName]="'mail'" />
              josemanuel0709&#64;hotmail.es
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h4>Enlaces de Interés</h4>
        <ul>
          <!-- LINKEDIN -->
          <li>
            <a href="https://www.linkedin.com/in/jose-manuel-r-c/">
              <app-svg-icon [svgName]="'linkedin'" />
              LinkedIn
            </a>
          </li>

          <!-- GITHUB -->
          <li>
            <a href="https://github.com/josemanuelrc">
              <app-svg-icon [svgName]="'github'" />
              GitHub
            </a>
          </li>
        </ul>
      </div>
      <div>
        <!-- ACCESIBILITY -->
        <h4>Accesibilidad</h4>
        <ul>
          <!-- LANGUAGE SELECTOR -->
          <li class="space-between">
            <p>Idioma</p>
            <app-lang-selector></app-lang-selector>
          </li>

          <!-- THEME SLIDER -->
          <li class="space-between">
            <p>Tema</p>
            <app-theme-toggle-slider></app-theme-toggle-slider>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h5>
        © 1998 - 2024 | José Manuel Rodríguez Camacho - Web Developer | Todos
        los derechos reservados
      </h5>
    </div>
  </div>
</footer>
