@import "./../../../assets/themes/themes.scss";

footer {
}

.footer-container {
  padding: 1rem 3rem;
  background-color: $grey-14;
}

.footer-info-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.acessibility-section {
  width: 12rem;
}

ul {
  li {
    a,
    h4 {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 0rem;
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }
}

.sub-footer-container {
  padding: 0.5rem 3rem;
  background-color: $grey-14;
}

h3 {
  margin: 1rem 0rem;
  color: $white;
}

h4 {
  margin: 0;
  color: $white;
}

a {
  display: block;
  color: $white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 1rem 2rem;
  }
  .footer-info-container {
    grid-template-columns: auto auto;
    transition: grid-template-columns 2s ease-in-out;
  }
}

@media (max-width: 425px) {
  .footer-info-container {
    grid-template-columns: auto;
    transition: grid-template-columns 2s ease-in-out;
  }
}
