<footer>
  <div class="footer-container">
    <h3>Gracias por visitar mi web!</h3>
    <h4>No dudes en ponerte en contacto conmigo. ¡Hasta pronto!</h4>
    <div class="footer-info-container">
      <div class="contact-section">
        <!-- CONTACT -->
        <h3>Contacto</h3>
        <ul>
          <!-- PHONE -->
          <li>
            <a href="tel:+34619832538">
              <app-svg-icon [svgName]="'phone'" />
              +34 619 83 25 38
            </a>
          </li>

          <!-- MAIL -->
          <li>
            <a href="mailto:josemanuel0709@hotmail.es">
              <app-svg-icon [svgName]="'mail'" />
              josemanuel0709&#64;hotmail.es
            </a>
          </li>
        </ul>
      </div>
      <div class="links-section">
        <h3>Enlaces de Interés</h3>
        <ul>
          <!-- LINKEDIN -->
          <li>
            <a href="https://www.linkedin.com/in/jose-manuel-r-c/">
              <app-svg-icon [svgName]="'linkedin'" />
              LinkedIn
            </a>
          </li>

          <!-- GITHUB -->
          <li>
            <a href="#">
              <app-svg-icon [svgName]="'github'" />
              GitHub
            </a>
          </li>
        </ul>
      </div>
      <div class="section acessibility-section">
        <!-- ACCESIBILITY -->
        <h3>Accesibilidad</h3>
        <ul>
          <!-- LANGUAGE SELECTOR -->
          <li class="space-between">
            <h4>Idioma</h4>
            <app-lang-selector></app-lang-selector>
          </li>

          <!-- THEME SLIDER -->
          <li class="space-between">
            <h4>Tema</h4>
            <app-theme-toggle-slider></app-theme-toggle-slider>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer-container">
    <h5>
      © 1998 - 2023 | José Manuel Rodríguez Camacho - Web Developer | Todos los
      derechos reservados
    </h5>
  </div>
</footer>
