<div [ngClass]="theme">
  <app-header />
  <app-to-top-btn />

  <main>
    <video muted loop poster="assets/images/background-picture.png">
      <source src="assets/video/background.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
    <app-title />

    @defer {
    <app-about-me />
    } @defer {
    <app-experience />
    } @defer {
    <app-technologies />
    } @defer {
    <app-education />
    } @defer {
    <app-curriculum />
    } @defer {
    <app-contact />
    }
  </main>
  @defer {<app-footer></app-footer>}
</div>
