@use "./../assets/themes/themes.scss" as *;

main {
  //background-color: $grey-13;
  position: relative;
  min-height: 100vh;
  background-image: url("src/assets/images/background-picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; // <- esto la fija al hacer scroll
  z-index: 0;
}
